node_modules
npm-debug.log
*.pem
!mock-cert.pem
package-lock.json
coverage
.idea

# dotenv environment variables file
!.env
.env

# Serverless directories
.serverless
dist

# Jenkins deployment work directory
.deployment

# Webpack
.webpack
