service: github-merge-bot

provider:
  name: aws
  stage: ${env:ENVIRONMENT}
  runtime: nodejs12.x
  region: us-east-1
  vpc:
    securityGroupIds:
      - ${file(${env:ECS_CONFIG}/bin/vars.yml):us-east-1.webapp_elb_sg}
    subnetIds: ${file(${env:ECS_CONFIG}/bin/vars.yml):us-east-1.prod_apps_1_all}
  stackTags:
    Name: ${env:PROJECT_NAME}-${self:custom.environmentMap.${env:ENVIRONMENT}}
    owner: apps@cru.org
    application: ${env:PROJECT_NAME}
    env: ${self:custom.environmentMap.${env:ENVIRONMENT}}
    managed_by: serverless-framework
    function: lambda
  environment: ${file(serverless/environment.js)}

functions:
  mergebot:
    handler: src/handlers.handler
    memorySize: 256
    timeout: 60
    events:
      - http:
          path: /bot
          method: POST

package:
  individually: true
  exclude:
    - .git/**
    - test/**
    - '**/*.test.js'
    - .deployment/**

plugins:
  - serverless-webpack
  - serverless-offline

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
    packager: yarn
    excludeFiles: '**/*.test.js'
  environmentMap:
    production: prod
    staging: stage
    development: dev
    lab: lab
  serverless-offline:
    httpPort: 4000
